<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reiverr.androidtv">

    <uses-feature android:name="android.software.leanback" android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:banner="@drawable/banner"
        android:icon="@mipmap/ic_launcher"
        android:label="Reiverr"
        android:theme="@style/Theme.Leanback"
        android:allowBackup="true">
        <activity
            android:name=".MainActivity"
            android:label="Reiverr"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Leanback">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
