@tailwind base;
@tailwind components;
@tailwind utilities;

a {
	@apply hover:text-amber-200;
}

.placeholder {
	@apply bg-zinc-700 bg-opacity-40 animate-pulse;
}

.placeholder-image {
	@apply bg-zinc-700 bg-opacity-75;
}

.placeholder-text {
	@apply bg-zinc-700 bg-opacity-40 animate-pulse text-transparent rounded-lg select-none;
}

.selectable {
	@apply focus-visible:outline outline-2 outline-[#f0cd6dc2] outline-offset-2;
}

.peer-selectable {
	@apply peer-focus-visible:outline outline-2 outline-[#f0cd6dc2] outline-offset-2;
}

.selectable-explicit {
	@apply focus-within:outline outline-2 outline-[#f0cd6dc2] outline-offset-2;
}
